@{
    var activePage = ViewData["ActivePage"] as string;
}
<div class="list-group">
    <a asp-action="Index" class="list-group-item list-group-item-action @(activePage == "Profile" ? "active" : "")">Profile</a>
    <a asp-action="Addresses" class="list-group-item list-group-item-action @(activePage == "Addresses" ? "active" : "")">Address Book</a>
    <a asp-controller="Order" asp-action="Index" class="list-group-item list-group-item-action">My Orders</a>
    <a asp-controller="Wishlist" asp-action="Index" class="list-group-item list-group-item-action">Wishlist</a>
</div>
